/*----------------------------------------------------------------------------------------------------------------*/

.inner-container {
    width: 1200px;
    margin: 0 auto;
}

.clear-page {
    clear: both;
}

.hengxiangzhanshi-section {
    padding: 60px 0 200px 0;
    background-image: url("../images/sellerpgae-car.jpg");
    background-size: cover;
    background-position: center;
}

.hengxiangzhanshi-text {

    width: 100%;
    margin-top: 0;
}

.hengxiangzhanshi-bigtitle {
    font-size: 60px;
    margin: 20px 0;
    color: white;
}

/*----------------------------------------------------------------------------------------------------------------*/

.car-box {
    float: left;
    width: 27%;
    margin: 1%;
    padding: 2%;
    background-color: white;
}

.car-box-title {
    margin: 0;
    font-size: 22px;
}

.car-explaination {
    font-size: 14px;
    color: black;
    height: 40px;
}

.car-box-picture {
    margin: 30px 0;
    height: 180px;
    overflow: hidden;
}
.car-box-img {
    width: 100%;
    height: auto;
}

.price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
}

.outline-btn {
    display: inline-block; 
    border: 1px solid black; 
    padding: 8px 25px; 
    text-decoration: none; 
    color: black; 
    font-size: 14px; 
    font-weight: bold;
}

/*----------------------------------------------------------------------------------------------------------------*/

.action-buttons-area {
    text-align: center; 
    margin-bottom: 50px;
}

.black-action-btn {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 15px 65px;
    margin: 0 40px; 
    text-decoration: none; 
    font-size: 16px;
    font-weight: bold;
    border: 2px solid black;
}

.black-action-btn:hover {
    background-color: white; 
    color: black;
}